{%- assign inner_groups = include.page.definitions | split: "|||" -%}
{%- if inner_groups.size > 0 -%}
{%- for inner_group in inner_groups -%}
{%- assign group_def = inner_group | split: "||" -%}
{%- assign group_name = group_def | first -%}
<li class="chapter-group">
  <input type="radio" name="group-collapse" id="handle-{{group_name}}">
  <h5 class="group-title"><label for="handle-{{group_name}}">{{group_name}}</label></h5>
  <ol class="group-list">
    {%- assign link_defs = group_def | last | split: "|" -%}
    {% for link_def_item in link_defs %}
    {%- assign link_def = link_def_item | split: ";" -%}
    {%- assign link_name = link_def | first -%}
    {%- assign link_url_part = link_def | last -%}
    {%- assign link_url = include.page.url | append: "/" | append: link_url_part -%}
    <li>
      <a href="{{link_url}}" title="{{link_name}}" {% if page.url==link_url %} class="active" {% endif
        %}>{{link_name}}</a>
    </li>
    {% endfor %}
  </ol>
</li>
{%- endfor -%}
{%- endif -%}