{% if include.chapters.size > 0 %}
<ol>
  {% for chapter in include.chapters %}
  {% if chapter == nil or chapter == '' %}{% continue %}{% endif %}
  <li>
    <h5>{{chapter}}</h5>
    <ol>
      {% assign subpage_order_groups = include.pages | where: "chapter", chapter | group_by: "order" | sort: "name" %}
      {% for subpage_order in subpage_order_groups %}
      {% assign subpages = subpage_order.items | sort: "title" %}
      {% for subpage in subpages %}
      <li>
        <a href="{{subpage.url}}" title="{{subpage.title}}" {% if page.url==subpage.url %} class="active" {% endif %}>
          {%- if chapter == "Reference" and include.section == "assistants" -%}
          {{subpage.title | upcase}}
          {%- else -%}
          {{subpage.title}}
          {%- endif -%}
        </a>
      </li>
      {% include nav-subpage-toc.html page=subpage %}
      {% endfor %}
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ol>
{% endif %}