section.assistants.reference h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section.assistants.reference p.enum-member {
  padding: 0;
  margin: 0;
}