.toc-nav li.chapter-group > .group-title {
  text-transform:uppercase;
  color: #a0a0a0;
  margin-bottom: 0;
  font-size: 0.85rem;
}

.toc-nav li.chapter-group > ol.group-list > li {
  padding: 0.12rem 0 !important;
}